//- Load passed variables
block variables

//- Get page information or set to defaults
- var charset = "utf-8"
- var title = title || "Default page title";
- var description = description || "Default page description";
- var viewport = viewport || "width=device-width, initial-scale=1";

doctype html
head
    meta( charset=charset )
    title=title
    meta( name="description", content=description )
    meta( name="viewport" content="viewport" )
    meta( http-equiv="cleartype" content="on" )

    if( env === 'production' )
        link( rel="stylesheet" href="asset/css/all.css" )
    else
        link( rel="stylesheet" href="assets/css/normalize.css" )
        link( rel="stylesheet" href="assets/css/plugins.css" )
        link( rel="stylesheet" href="assets/css/main.css" )

    script( src="assets/js/vendor/modernizr.js" )

body

    //- Load the content
    block content

    if( env === 'production' )
        script( src="assets/js/all.js" )
    else
        script( src="assets/js/vendor/jquery.js" )
        script( src="assets/js/plugins.js" )
        script( src="assets/js/main.js" )
