//- Define layout
extends partials/layout/main

//- Pass variables to layout
block variables
    - var title = "Hello world"

//- Append content block to layout
append content
    table
        tr
            td: i.fa.fa-check asdf
            td: i.fa.fa-check asdfasdfasd
            td: i.fa.fa-check asdfasdfasdf
            td: i.fa.fa-check asdfasdfasdf