/* line 1, /Users/leroybek/Git/Front-end-Boilerplate/src/less/core/base.less */
body {
  background: red;
}
/* line 1, /Users/leroybek/Git/Front-end-Boilerplate/src/less/elements/icons.less */
.icon {
  max-height: 100%;
  max-width: 100%;
}
/* line 7, /Users/leroybek/Git/Front-end-Boilerplate/src/less/elements/icons.less */
.icon--inherit-color path {
  fill: currentColor;
}
